[Unit]
Description=mmstartup
ConditionFileIsExecutable=/usr/lpp/mmfs/bin/mmstartup
After=network.target
PartOf=ncar-gpfs.target

[Service]
Type=forking
TasksMax=8192
ExecStart=/usr/lpp/mmfs/bin/mmstartup
ExecStop=/usr/sbin/stop-gpfs.ncar 
ExecStopPost=/usr/sbin/stop-gpfs.ncar 
TimeoutSec=2400
TimeoutStopSec=2400
RemainAfterExit=yes
Restart=no
RestartSec=30
MemoryAccounting=true

[Install]
Alias=gpfs-startup.service
